html, body{
	height:100%;
}
body {
    background-color: black;
}
.map{
	height:100%;
	border: 2px solid black;
}
/* Start by setting display:none to make this hidden.
   Then we position it in relation to the viewport window
   with position:fixed. Width, height, top and left speak
   for themselves. Background we set to 80% white with
   our animation centered, and no-repeating */
.modal {
    display:    none;
	position: absolute;
    z-index: 1000;
    top: 30px;
    left: 55px;
    height: 50px;
    width: 50px;
    background: url('icon/loading.gif') no-repeat;
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.loading {
    overflow: hidden;   
}

/* Anytime the body has the loading class, our
   modal element will be visible */
body.loading .modal {
    display: block;
}
.slider {
	color: white;
	margin: 10px;
}
.trigger {
    position: absolute;
    z-index: 1000;
    top: 80px;
    left: 10px;
}